NIST_V0_voter_records_interchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="NIST_V0_voter_records_interchange.xsd" version="0.0" xmlns="NIST_V0_voter_records_interchange.xsd" xmlns:addr="http://www.fgdc.gov/schemas/address/addr" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- ========== Imports ========== -->
  <xsd:import namespace="http://www.fgdc.gov/schemas/address/addr" schemaLocation="https://www.fgdc.gov/schemas/address/addr.xsd"/>
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/2000/09/xmldsig#"/>
  <!-- ========== Roots ========== -->
  <xsd:element name="VoterRecordsRequest" type="VoterRecordsRequest"/>
  <xsd:element name="VoterRecordsResponse" type="VoterRecordsResponse"/>
  <!-- ========== Enumerations ========== -->
  <xsd:simpleType name="AssertionValue">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Enumeration for assertions from a voter or a third party such as a department of motor vehicles (DMV) in response to questions on a registration form, used in the Assertion attribute of VoterClassification.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter’s or third party’s assertion of “no” or “false”.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="yes">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter’s or third party’s assertion of “yes” or “true”.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unknown">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter’s or third party’s assertion of “unknown”.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter’s or third party’s assertion of “other”.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BallotReceiptMethod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Enumeration for methods for delivering a ballot to the voter, used in the BallotReceiptPreference attribute of
oterRegistration. The sub-element may be repeated multiple times with different values as applicable, e.g., to specify both mail and online.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="email">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For email only.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="email-or-online">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For electronic mail or downloadable from a website (this value is ambiguous, thus the separate values for email and online).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="fax">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For use of a fax.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mail">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For postal mail.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="online">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For downloadable from a website, e.g., the voter is sent a hypertext link to a ballot.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ContactMethodType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in requests AND responses.

Enumeration for methods for contacting a voter or an election administration office, used in the Type attribute of ContactMethod.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="email">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For electronic mail.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="phone">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For use of a phone.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of contact method is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IdentifierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for election data-related codes in the ExternalIdentifiers class.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="fips">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For FIPS codes.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="local-level">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a code that is specific to a county or other similar locality.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="national-level">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a code that is used at the national level other than ocd-id.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ocd-id">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For Open Civic Data identifiers.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-level">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a code that is specific to a state.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of code is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhoneCapability">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request and response messages.

Enumeration for telephone capabilities, used in the Capability attribute of PhoneContactMethod.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="fax">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For telephones that include facsimile capabilities.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mms">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For telephones that contain Multimedia Messaging Service (MMS) capabilities.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sms">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For telephones that contain Short Messaging Service (SMS) capabilities.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voice">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For telephones that contain voice capabilities.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReportingUnitType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request and response messages.

Enumeration for the type of geopolitical unit, used in the Type sub-element in the ReportingUnit element.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ballot-batch">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for reporting batches of ballots that may cross precinct boundaries.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ballot-style-area">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for ballot style areas generally composed of precincts.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="borough">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used in CT, NJ, PA, other states, and New York City for boroughs. For AK and LA, see county.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="city">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a city that reports results and/or for the district that encompasses it.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="city-council">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for city council districts.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="combined-precinct">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for one or more precincts that have been combined for the purposes of reporting.  Used for “Ward” if “Ward” is used interchangeably with “CombinedPrecinct”.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="congressional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for U.S. Congressional districts.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="county">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a county and/or for the district that encompasses it.  In AK, used for counties that are called boroughs.  In LA, used for parishes.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="county-council">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for county council districts.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="drop-box">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a dropbox for absentee ballots.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="judicial">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for judicial districts.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="municipality">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used as applicable for various units such as towns, townships, villages that report votes and/or for the district that encompasses it.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="polling-place">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a polling place.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="precinct">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used also for “Ward” or “District” when these terms are used interchangeably with “Precinct”.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="school">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a school district.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="special">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a special district.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="split-precinct">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for splits of precincts.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a state and/or for the district that encompasses it.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-house">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a state house or assembly district.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-senate">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a state senate district.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="town">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used in some New England states as a type of municipality that reports votes and/or for the district that encompasses it.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="township">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used in some mid-western states as a type of municipality that reports votes and/or for the district that encompasses it.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="utility">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a utility district.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="village">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used as a type of municipality that reports votes and/or for the district that encompasses it.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="vote-center">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a vote center.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ward">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for combinations or groupings of precincts or other units.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="water">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a water district.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for other types of reporting units not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequestError">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

Enumeration for registration-related errors, used in the Error attribute of RegistrationRejection.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="identity-lookup-failed">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A lookup on the voter’s identity failed.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="incomplete">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The registration request is incomplete.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ineligible">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is ineligible to be registered.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="invalid-form">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The registration form specified is invalid.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of error is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequestForm">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for types of registration forms, used in the RegistrationForm attribute of VoterRecordsRequest.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="fpca">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For the Federal Post Card Application form.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nvra">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For the National Voter Registration Act form.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of form is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequestMethod">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="armed-forces-recruitment-office">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by an armed forces recruitment office.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="motor-vehicle-office">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via an MVA/DMV.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other-agency-designated-by-state">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by an unspecified state-designated agency.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="public-assistance-office">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by a public assistance office.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="registration-drive-from-advocacy-group-or-political-party">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via a registration drive.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-funded-agency-serving-persons-with-disabilities">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by a state-designated agency serving persons with disabilities.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voter-via-election-registrars-office">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via an election or registrar’s office.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voter-via-email">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via email.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voter-via-fax">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via fax.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voter-via-internet">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via the Internet, e.g., a website.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voter-via-mail">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via postal mail.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unknown">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method used is unknown.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of method is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequestProxyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for the registration proxy, e.g., the MVA/DMV , involved in the voter's registration request, used in the
Type attribute of RegistrationProxy.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="armed-forces-recruitment-office">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by an armed forces recruitment office.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="motor-vehicle-office">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via an MVA/DMV.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other-agency-designated-by-state">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by an unspecified state-designated agency.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="public-assistance-office">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by a public assistance office.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="registration-drive-from-advocacy-group-or-political-party">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter via a registration drive.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-funded-agency-serving-persons-with-disabilities">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter assisted by a state-designated agency serving persons with disabilities.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of source is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SignatureSource">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for source of the voter's signature, used in the Source sub-element of Signature.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="dmv">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For the department of motor vehicles or motor vehicle authority.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="local">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For an unspecified local source.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For an unspecified state source.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voter">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter has included a signature on the form.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the source of the signature is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SignatureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for the type of voter signature, used in the Type sub-element of Signature.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="dynamic">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For use with biometrics or other artifacts captured as part of the act of the voter signing the registration form.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="electronic">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a facsimile of the signature applied to a marking surface, e.g., paper.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of signature is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SuccessAction">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

Enumeration for a response to a voter records request, indicating that the response to the request is successful and the action that occurred, used in the Action sub-element of RegistrationSuccess. The success action may not necessarily match the requested action.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="address-updated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For indicating that an address was updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="name-updated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For indicating that a name was updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="registration-cancelled">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For indicating that a registration was cancelled.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="registration-created">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For indicating that a registration was created.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="registration-updated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For indicating that a registration was updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="status-updated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For indicating that a registration status was updated.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for other types of success actions not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoterClassificationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for voter status classifications, used in the Type attribute of VoterClassification. Whether the voter status, e.g., eighteen-on-election-day, is true, false, or unknown depends on the value of the Assertion attribute.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="activated-national-guard">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is an activated National Guard member on State orders (FPCA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="active-duty">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is a member of the Uniformed Services or Merchant Marine on active duty (FPCA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="active-duty-spouse-or-dependent">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is an eligible spouse or dependent (FPCA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="citizen-abroad-intent-to-return">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is a US citizen residing outside the US and has intention to return (FPCA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="citizen-abroad-return-uncertain">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is a US citizen residing outside the US and their return is uncertain (FPCA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="citizen-abroad-never-resided">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is a US citizen and has never resided in the US (FPCA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="deceased">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is deceased (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="declared-incompetent">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter has been declared incompetent (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="eighteen-on-election-day">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter will be 18 on election day (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="felon">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is a felon (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="permanently-denied">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter has not been permanently denied (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="protected-voter">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter status is protected (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="restored-felon">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is a restored felon (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="united-states-citizen">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter is a United States citizen (NVRA).</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of voter classification is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoterHelperType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for types of registration helpers, used in the Type attribute of RegistrationHelper.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="assistant">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a registration assistant.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="witness">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a registration witness.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoterIdType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for the type of voter ID, used in the Type attribute of VoterId.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="drivers-license">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a driver’s license.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="local-voter-registration-id">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a local voter registration record ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ssn">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a complete Social Security number.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ssn4">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for the last four digits of a Social Security number.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-id">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a state ID that is not a state voter registration ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-voter-registration-id">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a state’s voter registration record ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unspecified-document">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for an unspecified document, not known whether the document contains name, address, or photo ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unspecified-document-with-name-and-address">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a document that contains the voter’s name and address, such as a utility bill.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unspecified-document-with-photo-identification">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for a document that contains a photograph of the voter.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unknown">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used for documentation that was not captured.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of ID is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoterRequestType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Enumeration for the type of voter records request, used in the Type attribute of VoterRecordsRequest.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ballot-request">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For requesting a ballot, possibly in conjunction with an FPCA registration request.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lookup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter registration lookup.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="registration">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter registration request.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of request is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoterStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="active">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter in active status.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="inactive">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For a voter in inactive status.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when the type of voter status is not included in this enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ========== Interfaces Defined ========== -->
  <!-- === Interface Address === -->
  <xsd:group name="Address">
    <xsd:choice>
      <xsd:element name="CommunityAddress_type" type="addr:CommunityAddress_type"/>
      <xsd:element name="FourNumberAddressRange_type" type="addr:FourNumberAddressRange_type"/>
      <xsd:element name="GeneralAddressClass_type" type="addr:GeneralAddressClass_type"/>
      <xsd:element name="IntersectionAddress_type" type="addr:IntersectionAddress_type"/>
      <xsd:element name="LandmarkAddress_type" type="addr:LandmarkAddress_type"/>
      <xsd:element name="NumberedThoroughfareAddress_type" type="addr:NumberedThoroughfareAddress_type"/>
      <xsd:element name="TwoNumberAddressRange_type" type="addr:TwoNumberAddressRange_type"/>
      <xsd:element name="USPSGeneralDeliveryOffice_type" type="addr:USPSGeneralDeliveryOffice_type"/>
      <xsd:element name="USPSPostalDeliveryBox_type" type="addr:USPSPostalDeliveryBox_type"/>
      <xsd:element name="USPSPostalDeliveryRoute_type" type="addr:USPSPostalDeliveryRoute_type"/>
      <xsd:element name="UnnumberedThoroughfareAddress_type" type="addr:UnnumberedThoroughfareAddress_type"/>
    </xsd:choice>
  </xsd:group>
  <!-- ========== Classes ========== -->
  <xsd:complexType name="AdditionalInfo">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Class for specifying information not addressed in this model by other attributes, e.g. state-specific information that does not "fit" in any other attribute. The information will thus be highly specific to the generating application, and consuming applications must "know" the meaning of the information to make use of it. For this reason, use of this class is discouraged as much as is possible.

The StringValue and FileValue attributes are both optional, however exactly one of them must be included.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FileValue" type="File" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used if the value is in a file; contains the filename and MIME type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Name of the value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StringValue" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used if the value is a string; contains the string.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BallotRequest" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An abstract class representing a request for a ballot. Classes for specific types of BallotRequest inherit the attributes and define their own.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BallotReceiptPreference" type="BallotReceiptMethod" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter's preference on how to receive their ballot in order from their most preferred method to least, used if it is a pre-election day ballot request. If omitted, the default method for the form will be used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MailForwardingAddress" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group minOccurs="0" maxOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BallotStyle">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">For referencing a ballot style defined elsewhere, such as in an Election Management System (EMS).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ExternalIdentifier" type="ExternalIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For associating an ID with the ballot style.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ImageUri" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">URI for a ballot image.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Party" type="Party" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Unique identifier for one or more Party instances.  For associating one or more parties with the ballot style.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactMethod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request and response messages.

ElectionAdministration optionally includes this class to specify how to contact the election administration.

Voter optionally includes this class to specify the method for contacting a voter regarding the voter's request. If the voter can be contacted in multiple ways, the application creating the data should order the occurrences of ContactMethod by priority.

The PhoneContactMethod class uses ContactMethod as a base class, and should be used with when the contact method is for a telephone and it is necessary to describe the capabilities of the telephone.

The Capability attribute is provided by the PhoneContactMethod class.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when ContactMethodType value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="ContactMethodType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The contact method type, e.g. email or phone.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The value of the ContactMethod. This will be the text value of the phone number, email address, or other mechanism. The values must be free of any formatting characters, such as parentheses or dashes for a phone number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Election">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request and response messages.

Describes an election event. Only the date of the election is required. Other attributes may be used to describe the election for which a ballot is requested or a voter participated.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EndDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For an election that spans multiple days, the last day of the election.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExternalIdentifier" type="ExternalIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For associating an ID with the election.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For including a name for the election; the name could be the same name as appears on the ballot.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The first day of the election.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElectionAdministration">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

ElectionAdministration optionally includes ContactMethod to specify contact information for the election authority.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ContactMethod" type="ContactMethod" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For including various contact information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Location" type="Location" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Location of the election authority.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Name of the election authority.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Uri" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A URL for the election authority.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElectionBasedBallotRequest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Implementation of BallotRequest in which a ballot for a single election event is requested.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotRequest">
        <xsd:sequence>
          <xsd:element name="Election" type="Election">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The election for which the ballot is requested.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Error">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

RequestRejection includes this class to describe the errors that caused the rejection.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Name" type="RequestError">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to indicate the type of error.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherError" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when RegistrationError value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ref" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference (e.g. XPath) to the entity that the error applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request and response messages.

BallotStyle, Election, Party and ReportingUnit optionally include this class for associating a jurisdiction's codes, i.e., identifiers, with political parties or geopolitical units such as counties, towns, precincts, etc. Multiple occurrences of ExternalIdentifier can be used to associate multiple codes, e.g., if there is a desire to associate multiple codes with an object such as state-specific codes as well as OCD-IDs (Open Civic Data Identifiers).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when Type value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="IdentifierType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An identifier type, e.g., FIPS.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The identifier used by the jurisdiction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="File">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

VoterId optionally uses this class for FileValue to specify a filename for voter identification purposes such as for a utility bill. AdditionalInfo also optionally includes FileValue.

File extends the xsd:base64Binary type to add the attributes for filename and (Multi-Purpose Internet Mail Extensions) MIME type, e.g., application/pdf for a file of type PDF.

The Image element uses this class as an supertype, thus Image can be used when the type of file is for an image, e.g., image/png.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="FileName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The filename.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MimeType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The MIME type associated with the file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Image">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Signature optionally includes this class to indicate that a file contains an image of a voter's signature. Image uses File as supertype, thus attributes of File can be included in Image.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="File">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LatLng">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

Location optionally includes this element to specify the latitude and longitude of a voter's voting location.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Latitude" type="xsd:float">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Latitude of the location.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Longitude" type="xsd:float">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Longitude of the location.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Source" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">System used to perform the lookup from location name to lat/lng, e.g., the name of a geocoding service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Location">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

ReportingUnit and ElectionAdministration optionally include this element to specify the address and directions to a voter's voting location. The LatLng element can be included to specify the latitude and longitude of the voting location.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Address" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group minOccurs="0" maxOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Directions" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Directions to the voting location.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LatLng" type="LatLng" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Latitude/longitude of the voting location.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Name">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Voter includes this class for specifying the name of a voter and, optionally, for specifying a previous name of the voter, using PreviousName instead of Name. RequestHelper also includes this class for specifying the name of a registration helper.

Multiple occurrences of the MiddleName attribute can be used as needed, e.g., for names with additional middle names or nicknames such as "John Andrew Winston (Jack) Smith".

All elements are optional, however at least FullName must be included if the other attributes are not.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FirstName" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Person’s first (given) name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FullName" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Person’s full name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastName" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Person’s last (family) name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Person’s middle name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Prefix" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A prefix associated with the person, e.g., Mr.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Suffix" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A suffix associated with the person, e.g., Jr.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Party">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

BallotStyle optionally includes this attribute to specify the associated political party, such as for closed primaries.

Voter optionally includes this attribute to specify a voter's political party.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Abbreviation" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Short name for the party, e.g., “DEM”.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExternalIdentifier" type="ExternalIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For associating an ID with the party.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Official full name of the party, e.g., “Republican”.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PermanentBallotRequest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Implementation of BallotRequest which serves to request ballots for election events that the voter is qualified on a long term basis. Although &amp;quot;permanent&amp;quot;, the request may be subject to renewal or cancellation procedures.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotRequest">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhoneContactMethod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request and response messages.

RequestHelper, and RequestProxy use this class to specify a telephone number as well as the capabilities of the telephone, e.g., sms, fax, etc.

PhoneContactMethod is subtype of ContactMethod. Thus, the elements that include ContactMethod could use PhoneContactMethod as applicable.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ContactMethod">
        <xsd:sequence>
          <xsd:element name="Capability" type="PhoneCapability" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the phone’s capabilities, e.g., fax, sms.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReportingUnit">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

RequestSuccess and VoterRecord include this class so as to provide a list of geopolitical geography associated with the voter's registration, e.g., the voter's precinct, polling place, districts, etc. The Type attribute uses the ReportingUnitType enumeration to specify the type of geopolitical geography being defined. If the reporting unit type is not listed in enumeration ReportingUnitType, use other and include the reporting unit type (that is not listed in the enumeration) in OtherType.

The IsDistricted boolean is not strictly necessary, as it is possible to identify districts by their Type attribute. However, if the type of district is not listed in the ReportingUnitType enumeration and therefore OtherType is used, then IsDistricted is necessary. The IsDistricted boolean can also be used to signify that a ReportingUnit defined as a jurisdiction, e.g., a county, is also used as a district for, e.g., county-wide contests.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ExternalIdentifier" type="ExternalIdentifier" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For associating an ID with the ReportingUnit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IsDistricted" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Boolean to indicate that the reporting unit is a district.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Location" type="Location" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Location of the district office.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Name of the reporting unit.Name of the reporting unit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when ReportingUnitType value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="ReportingUnitType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Enumerated type of reporting unit, e.g., district, precinct.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestAcknowledgement">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in response messages.

For indicating that the request was received but action on the request is pending.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VoterRecordsResponse">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RequestHelper">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">VoterRecordsRequest optionally includes this element to specify information about a request helper, i.e., a request assistant or witness involved in a voter's request.

RequestHelper includes the Name element to specify the registration helper's name and optionally includes the Signature element if a registration helper's signature is required.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Address" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group minOccurs="0" maxOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Name" type="Name" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">To specify the name of the helper.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Phone" type="PhoneContactMethod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Request helper’s phone number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Signature" type="Signature" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">To specify the signature of the helper.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="VoterHelperType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">To specify the type of helper, e.g., assistant.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestProxy">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

VoterRecordsRequest optionally includes this class to specify information about a request proxy involved in a voter records request.

OriginTransactionId can be used to include an optional identifier of the originating external transaction from the proxy, e.g., used for the transaction ID generated by a DMV application enacting a voter registration request to a registration portal application (on behalf of a citizen obtaining a driver's license). This sub-element is not to be confused with TransactionId in VoterRecordsRequest, which is used to include a transaction ID of the voter records request, e.g., the transaction ID of the registration portal's voter records request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Address" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group minOccurs="0" maxOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A name associated with the proxy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OriginTransactionId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An identifier associated with the transaction between the proxy and, e.g., the registration portal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when RegistrationProxyType value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Phone" type="PhoneContactMethod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A phone number associated with the proxy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeStamp" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date of the request from the proxy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="RequestProxyType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The type of the requesting proxy, e.g., motor-vehicle-office, voter-via-email.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestRejection">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in responses.

For indicating that the request failed. The Error attribute is used to indicate the type of error that occurred. The AdditionalDetails attribute can be used to provide more information as to the rejection.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VoterRecordsResponse">
        <xsd:sequence>
          <xsd:element name="AdditionalDetails" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Used to provide additional details as applicable.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Error" type="Error" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">For associating a RequestRejection with one or more Errors.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RequestSuccess">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in responses.

For indicating a successful response to a request. The Action attribute is used to indicate the action that occurred, which may differ from what was requested. For example, a request for a new voter registration may succeed, but if the voter was already registered, the response may indicate a registration update as opposed to a registration create.

The response also includes, optionally, other information useful to the voter, including a description of the voter’s polling place, districts (i.e., contests) associated with the polling place, or other geopolitical geographies such as the voter’s precinct.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VoterRecordsResponse">
        <xsd:sequence>
          <xsd:element name="Action" type="SuccessAction" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Used to indicate the action that occurred.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="District" type="ReportingUnit" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">One or more districts associated with the voter’s precinct.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="EffectiveDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The effective date of the action.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ElectionAdministration" type="ElectionAdministration" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The election administration that conducts elections for the voter.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Locality" type="ReportingUnit" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Other geographies such as the voter’s precinct.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PollingPlace" type="ReportingUnit" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The voter’s polling place.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request messages.

Voter optionally includes this class for specifying information about a voter's signature on a registration request. If there is a need to include previous signature that uses a different name, e.g., a maiden name, Voter uses PreviousSignature instead of Signature.

RequestHelper optionally includes this class for specifying information about the helper's signature.

Source is used to specify the source of the voter's signature, for example, on file at a department of motor vehicles. FileValue is used to include an image of the voter's signature.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Date" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date of the signature, i.e., when created.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FileValue" type="Image" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The signature image in base 64 binary</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherSource" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when Source value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when SignatureType value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Source" type="SignatureSource" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A source for the signature, e.g., dmv.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="SignatureType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A signature type, e.g., dynamic.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TemporalBallotRequest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Implementation of BallotRequest in which election opportunities that the voter is qualified during a given time frame will be requested.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotRequest">
        <xsd:sequence>
          <xsd:element name="EndDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date at which the request is no longer effective.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="StartDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date at which the request comes into effect.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Voter">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Voter contains attributes specific to identifying a voter.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ContactMethod" type="ContactMethod" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">How to contact the voter, listed in order of preference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateOfBirth" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter’s data of birth in YYYY-MM-DD
format.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ethnicity" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter’s ethnicity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Gender" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Older systems may not understand values other than 'Male' or 'Female' (the only choices available on FPCA).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MailingAddress" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group minOccurs="0" maxOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Name" type="Name">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Voter’s name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Party" type="Party" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Voter’s political party.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousName" type="Name" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A voter’s previous name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousResidenceAddress" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group minOccurs="0" maxOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PreviousSignature" type="Signature" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Information about a previous voter signature on the registration form.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResidenceAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group minOccurs="1" maxOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ResidenceAddressIsMailingAddress" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">If set to true, MailingAddress need not be included.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Signature" type="Signature" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Information about the voter signature on the registration form.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VoterClassification" type="VoterClassification" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">How the voter is classified per assertions the voter has made on a registration form.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VoterId" type="VoterId" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Information to provide voter identity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterClassification">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Voter optionally includes this class to describe a voter's classification per criteria on the voter's request form, e.g., united-states-citizen or eighteen-on-election-day.

VoterClassification includes assertions of the voter in response to the voter request form criteria. For example, an assertion of true may be used with a criterion of united-states-citizen. Assertions can be negative, such as providing an assertion of false for a criterion of felon, an assertion of unknown to indicate that the voter does not know whether they meet or do not meet the specific criteria on the form or an assertion of other, in which the assertion is specified by the value of OtherAssertion.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Assertion" type="AssertionValue">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A positive, negative, other or unknown assertion</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherAssertion" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An locally defined assertion value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when VoterClassificationType value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="VoterClassificationType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A classification type, e.g., felon.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterId">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in request and response messages.

Used to include information about a voter's identification that may be required in a registration request. Voter includes VoterId.

AttestNoSuchId is used to attest that the voter has no ID of a specified type, thus it must be included with a value of true if attesting that the voter has no ID for that specified type. It can be included with a value of false to attest that the voter does have an ID of the specified type, in which case either StringValue or FileValue must be included; however, it is assumed to be false if not included. The StringValue and FileValue sub-elements are both optional, however at least one of them must be included.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AttestNoSuchId" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to attest that the voter has no ID. Assumed to be false if not present.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateOfIssuance" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Date the ID was issued.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FileValue" type="File" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to include a file name for the ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when VoterIdType value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StringValue" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to include the ID as a string.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="VoterIdType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The type of voter ID.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterParticipation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">For indicating an election that the voter participated in. Participation does not imply a counted ballot.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BallotStyle" type="BallotStyle" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For associating the voter participation to a specific ballot style, such to a partisan ballot in a closed primary.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Election" type="Election">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For associating the voter participation to a specific election event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PollingLocation" type="ReportingUnit" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The polling place used by the voter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterRecord">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A subtype of Voter representing a voter record stored in a Voter Registration Database (VRDB).

VoterRecord optionally contains additional information useful to the voter, including a description of the voter’s polling place, districts associated with the voter's precinct, or other geopolitical geographies such as the voter’s precinct.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="District" type="ReportingUnit" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">One or more districts associated with the voter’s precinct.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElectionAdministration" type="ElectionAdministration" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The election administration that conducts elections for the voter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HavaIdRequired" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates that the voter must present identification at the polls per HAVA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Locality" type="ReportingUnit" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Other geographies such as the voter’s precinct.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherStatus" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when VoterStatus value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PollingLocation" type="ReportingUnit" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The voter’s polling place.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Voter" type="Voter"/>
      <xsd:element name="VoterParticipation" type="VoterParticipation" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For associating a VoterRecord to elections the voter has participated in.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VoterStatus" type="VoterStatus" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The status of the VoterRecord, possibly to indicate the ability to receive a regular ballot.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterRecordResults">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used in responses.

For indicating a successful response to a lookup request.

A lookup for a single voter may result in multiple VoterRecords being returned. This can occur if the voter has duplicate records in the VRDB, or if the criteria specified in the lookup request was broad.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VoterRecordsResponse">
        <xsd:sequence>
          <xsd:element name="VoterRecord" type="VoterRecord" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A particular voter record returned.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VoterRecordsRequest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The root element for request messages.

For defining items pertaining to the status and type of the voter records request and when it was generated. VoterRecordsRequest includes the Subject association to specify various information about the voter in question. It includes the BallotRequest association to handle a request for an ballot; this request may be part of an FPCA form registration or may be submitted independently.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AdditionalInfo" type="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">For including other information not specified by this model.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BallotRequest" type="BallotRequest" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies information relating to a request for a ballot.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Form" type="RequestForm" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">If the request is for a voter registration, the registration form used by the voter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GeneratedDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date that the voter records request was generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Issuer" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The name of the issuer of the voter records request transaction, e.g., State of West Virginia Voter Registration Portal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherForm" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when RegistrationForm value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherRequestMethod" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when RegistrationMethod value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used when RequestType value is other.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestHelper" type="RequestHelper" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Included if the registration involves a registration assistant organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestMethod" type="RequestMethod">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method used by the voter to register.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestProxy" type="RequestProxy" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Included if the registration request is via a proxy, e.g., the DMV.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SelectedLanguage" type="xsd:language" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The language specified by the voter, if any.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Subject" type="Voter">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies information about the voter who is the subject of the request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TransactionId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An identifier of the voter records request transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="VoterRequestType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The type of request, e.g., registration.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VendorApplicationId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An identifier of the vendor application generating the voter registration request, e.g., X-VRDB Version 3.1.a.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterRecordsResponse" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The root element for response messages.

For defining items pertaining to the status of a response to a voter records request.   is an abstract element with three xsi:types that get used according to the type of response:
•	, used to indicate an acknowledgement only.
•	, used to indicate a failure and the type of failure.
•	, used to indication that a successful registration action occurred and the type of registration action, which may differ from the type of registration action requested.

 optionally includes the  sub-element associated with the voter records request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TransactionId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Transaction ID associated with the voter records request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
